---
import BorderBox from "../components/BorderBox.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
const array = [...Array(5).keys()];
const array2 = [...Array(5).keys()];
import image from "../images/krs.jpg";
import { Image } from "astro:assets";
import image2 from "../images/2.avif";
---

<HomeLayout>
  <div class="grid grid-cols-[1fr_auto] h-full">
    <div class="p-4 font-ubuntu-mono">
      <h1 class="text-3xl mb-8">Kollektiv Roter Sternenfunke</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        <br />
        <br />
        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
        dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate
        velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
        at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
        zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor
        sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
        ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
        ex
      </p>
    </div>
    <div class="grid grid-cols-2 p-20 w-86">
      <div class="flex flex-col gap-15">
        {
          array.map((i) => (
            <BorderBox class="size-30! flex items-center justify-center relative rotate-45">
              <Image
                src={image}
                alt={`Image ${i}`}
                class="w-full h-full object-fill"
              />
            </BorderBox>
          ))
        }
      </div>
      <div class="flex flex-col gap-15 mt-[90px]">
        {
          array.map((i) => (
            <BorderBox class="size-30! flex items-center justify-center relative rotate-45">
              <Image
                src={image}
                alt={`Image ${i}`}
                class="w-full h-full object-fill"
              />
            </BorderBox>
          ))
        }
      </div>
    </div>
  </div>
</HomeLayout>
