---
import BorderBox from "../components/BorderBox.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="flex items-center justify-center h-full">
    <BorderBox class="size-48! rotate-45 hover:rotate-90 transition-transform duration-500 ease-in-out" />
  </div>
</HomeLayout>
