---
import BorderBox from './BorderBox.astro';
---

<div class="mt-auto border-t border-border">
  <footer class="container mx-auto border-x border-border p-2">
    <p class="text-right">&copy; 2023 My Astro Site. All rights reserved.</p>
  </footer>
</div>
